body {
  margin: 0;
  font-family: 'Marker Felt';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fad8b1;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */

    font-family: 'Marker Felt';
}

.image {
  justify-self: center;
  height: 12rem;
  width: 85%;
  border-radius: 8px;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 8rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  background-image: url(https://i.pinimg.com/originals/10/35/a7/1035a7b584836f6178e1367d07de22f9.png);
  background-size: 100% 100%;
  border-radius: 8px;
  font-family: 'Marker Felt';
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.cardDiv {
  margin: 2rem;
  display: inline;
  padding-left: 60px;
}

input[type=text], select {
  width: 100%;
  padding: 6px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: 'Marker Felt';
  
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: rgb(200, 100, 29);
  color: white;
  padding: 17px 5px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Marker Felt';

}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #f8b155;
}

.formContainer {
  border-radius: 8px;
  background-color: #da9438;
  padding: 20px;
  width: 800px;
  height: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Marker Felt';
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.navlinks {
   position: relative;
   left: 50px;
   border-radius: 8px;
   width: 25%;
   height: 50px;
   padding-left: -100px;
   color: #000000;
   font-family: 'Marker Felt';
   
   
 }
 
 button {
   font-family: 'Marker Felt';
   border-radius: 8px;
   background: rgb(200, 100, 29);
 }

 h1 {
   font-family: 'Marker Felt';
 }
 .timeCard {
   background: #eeb573;
   border-radius: 8px;
   margin-left: auto;
   margin-right: auto;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
 }

 .timeAnimals {
  text-align: center;
  
 }

 /* img {
   max-width: 150px;
   height: auto;
   border-radius: 8px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
   display: table-cell;
   vertical-align: middle;

 } */

 .timeCard img {
   max-width: 150px;
   height: auto;
   border-radius: 8px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
   /* float:left; */
   margin-right: 10px;
 }
 